<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Home
      {% endblock %}
    </title>
  </head>
  <body>
    {% block search %}
        <a href="/mypage"> My Page </a>
	<form action="/search">
	  <input type="text" name="query">
	  <input type="submit" value="Search for a User">
	</form>
	{% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}
    <h1>Welcome, {{username}}!</h1>
    <h3>What would you like to do?</h3>
    <a href="/add"> Make a new blog</a>
    <p><a href="/logout">Logout</a></P>
    {% for n in range(length) %}
    {% set url = "/user/" + users[length - n - 1][0] + "/" + ids[length - n - 1][0]|string %}
    <h1> <a href={{url}}> {{titles[length - n - 1][0]}} - #{{ids[length - n - 1][0]}} </a> </h1>
    <h2> By {{users[length - n - 1][0]}} </h2>
    <h3> {{descriptions[length - n - 1][0]}} </h3>
    {% endfor %}
    {% endblock %}
  </body>
  </html>
