<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Home
      {% endblock %}
    </title>
  </head>
  <body>
    {% block search %}
	<form action="/search">
	  <input type="text" name="query">
	  <input type="submit" value="Search for an Entry">
	</form>
	{% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if username != 'notlogged' %}
    {% block body %}
    <h1>Welcome, {{username}}!</h1>
    <h3>What would you like to do?</h3>
    <a href="/add"> Add a new Entry </a>
    <p><a href="/logout">Logout</a></P>
    {% endblock %}
    {% else %}
	<h1> Welcome, User. </h1>
	<a href="/login">Login</a>
	{% endif %}
  </body>
  </html>
